@font-face {
    font-family: 'eng_gothicnormal';
    src: 	url('eng-gothic-normal-webfont.woff') format('woff'),
			url('eng-gothic-normal-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iconsweetsRegular';
	src:	url('iconsweets-webfont.eot') format('eot')  /* IE9 */;
    src: 	url('iconsweets-webfont.woff') format('woff'),
			url('iconsweets-webfont.svg') format('svg'),
			url('iconsweets-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('iconsweets-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}